@import "tailwindcss";

/* Pastikan tidak ada scrollbar yang muncul saat scaling */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000; /* Warna hitam di luar area game */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}